<template>
    <div v-if="erreur" class="alert alert-danger">
        {{ erreur }}
    </div>
    <div v-if="departements.length > 0" class="container">
        <h1>Départements</h1>
        <ul class="list-group">
            <li class="list-group-item" v-for="departement in departements" :key="departement.code">
                {{ departement.code+" "+departement.nom }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            departements: [],
            erreur: "",
        };
    },
    mounted() {
        this.fetchDepartements();
    },
    methods: {
        async fetchDepartements() {
            try {
                const response = await fetch('https://geo.api.gouv.fr/departements');
                const result = await response.json();
                this.departements = result;
            } catch (error) {
                this.erreur = 'Une erreur s\'est produite.';
            }


        }
    },
}
</script>
